@model TravelTripProjee.Models.Sınıflar.Blog
@{
    ViewBag.Title = "EkleBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Blog Ekleme Sayfası</h2>
<form method="post">

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />

    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    <label>Resim</label>
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />

    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Aciklama, 5, 1, new { @class = "form-control" })
    <br />



    <button class="btn btn-outline-info"><i class="fa fa-save"></i>Kaydet</button>
</form>

